@tailwind base;
@tailwind components;
@tailwind utilities;
::selection {
  background-color: #702dbd80;
}
/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 15px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #201b23; /* Background color of the scrollbar track */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  border: 3px solid #edf2f4;
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #edf2f4; /* Color on hover */
}
